<div class="row">

    <h3>Names greeted</h3>
    <div class="count">

        {{user}}
        <br>
        <br>
<a href="/greeted">
        <button class="button-primary" type="button" name="button">Take me back</button>
    </a>
    </div>
</div>