<div class="row">
    <h3>Greeted People</h3>

    <h5>Names of the People</h5>
    <hr>
    <ul>
        {{#each users}}
        <li>
            <a href="/counter/{{this.name_greeted}}">{{this.name_greeted}}</a>
        </li>
        {{/each}}
    </ul>
    <a href="/">
        <button class="button-primary" type="button" name="button">Take me to the home page</button>
    </a>

    <h1> {{messages.info}}</h1>

</div>