<div class="row">
    <div class="head">

        <h1>Greeting</h1>
    </div>

    <div class="greet">
        {{greet}}
    </div>

    <form action="/" method="POST">

        <div class="name">
            <span class="label-body">Name</span>
            <input required class="greeted people" type="text" name="name" value="" placeholder="enter your name">
        </div>


        <label class="">
            <input required type="radio" name="language" value="isiXhosa" class="lang1">
            <span class="label-body">isiXhosa</span>
        </label>

        <label class="">
            <input required type="radio" name="language" value="English" class="lang2">
            <span class="label-body">English</span>
        </label>

        <label class="">
            <input required type="radio" name="language" value="isiZulu" class="lang3">
            <span class="label-body">isiZulu</span>
        </label>
        <hr>

        <button class="button-primary" type="submit" name="button">Greet me</button>
        <div class="counter" name="counted">
            {{count}}
        </div>
        <hr>
        {{!-- <div action="/counter/:username" name="lulama" class="greeted-route" >
        {{names}}
    </div> --}}
        <div class="info">
            <h1> {{messages.info}}</h1>
        </div>

    </form>

    <a href="/greeted">
        <button class="button-primary" type="submit" name="button">Link me</button>
    </a>
</div>