.box {
  padding: 0.75em;
  border-radius : 0.5em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
}

.row {
  margin: 2em;
  color: orange;
  font-weight: bold;
  background-color: rgb(31, 75, 75);
}

.head {
  font-style: italic;
  font: small-caps;
  color: crimson;
  font-weight: bold;
  border-radius: 3ch, solid;
  border: lime, solid;

}

.entry {
  color: blue;
  border: darkslategrey, solid;
}
.counter {

  border-radius: 0.1em;
  border: 0.1em solid;
  background-color: black;
  margin: 0.5em;
  width: 7em;
  height: 3em;

}

.container {
  background-color: silver;
}

.greeted-route {

  border-radius: 0.1em;
  border: 0.1em solid;
  background-color: yellowgreen;
  margin: 0.5em;
  width: 10em;
  height: 3em;
  float: middle;
}

.body {
  font-weight: bold;
  font-size: 2.5em;
  border: violet;
  background-color: brown;
}
